* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 3.6rem;
  padding: 5rem 0rem;
}

h3 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
}

button {
  font-size: 1.8rem;
}

nav {
  background: rgb(28, 52, 97);
  color: white;
  padding: 3rem;
}

nav h1 {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  margin: 0.5rem 4rem;
}

.hero-section {
  background-image: url("burger-and-vegetables-placed-on-brown-wood-surface-1565982.jpg");
  height: 80rem;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 15rem;
  text-shadow: 3px 3px 10px black;
}

.hero-section button {
  margin-top: 4rem;
  padding: 1rem 4rem;
  background: rgb(59, 103, 184);
  border: none;
  color: white;
  cursor: pointer;
}

.form-section {
  text-align: center;
}

form input,
form label,
form textarea {
  display: block;
  font-size: 2.4rem;
}

form input,
form textarea {
  margin: 2rem auto;
  width: 50%;
}

form button {
  margin-bottom: 2rem;
  padding: 1rem 4rem;
  background: rgb(59, 103, 184);
  border: none;
  color: white;
  cursor: pointer;
  width: 50%;
}
