* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.box {
  background-color: red;
  height: 50px;
  width: 50px;
}

input {
  opacity: 0.1;
}
